In [ ]:
%load_ext autoreload
%autoreload 2

If you encounter a character that should be a delimiter when PyMuPDF is reading in words from a PDF, find that character and add it into the delimiters argument of `extractWORDS`

In [2]:
from mozilla_sec_eia.utils.pdf import extract_pdf_data_from_page
from pathlib import Path
import fitz

In [3]:
filepath = Path("../sec10k_filings/pdfs/1223037-2009q4-1223037-0001193125-09-249998.pdf")
assert filepath.exists()

In [4]:
doc = fitz.Document(str(filepath))
doc.is_pdf

True

In [46]:
pg = doc[0]
extracted = extract_pdf_data_from_page(pg)
extracted.keys()

dict_keys(['pdf_text', 'image', 'page'])

In [47]:
text = extracted["pdf_text"]
text

,top_left_x_pdf,top_left_y_pdf,bottom_right_x_pdf,bottom_right_y_pdf,text,block_num,line_num,word_num,page_num
0,541.077881,27.276495,558.897766,35.067120,Exhibit,0,0,0,0
1,560.304016,27.276495,565.929016,35.067120,21,0,0,1,0
2,29.346460,49.526493,58.095837,57.317120,Partnership,1,0,0,0
3,59.502087,49.526493,88.887093,57.317120,Subsidiaries,1,0,1,0
4,29.346460,67.265244,39.347710,74.768997,A.P.,2,0,0,0
...,...,...,...,...,...,...,...,...,...
87,29.346460,423.265228,44.657711,430.768982,TG&E,18,0,0,0
88,46.063961,423.265228,62.933338,430.768982,Service,18,0,1,0
89,64.339584,423.265228,87.621468,430.768982,"Company,",18,0,2,0
90,89.027718,423.265228,97.617088,430.768982,Inc.,18,0,3,0
91,103.242088,423.265228,119.492714,430.768982,Florida,18,0,4,0

In [41]:
text.iloc[74].text[4]

'—'

Go from string, to ASCII decimal, to hex

In [42]:
ord(text.iloc[74].text[4])

8212

In [33]:
ord("&")

38

In [28]:
print(chr(0x26))

&

In [7]:
print(chr(151))



In [8]:
chr(151)

'\x97'

In [10]:
hex(151)

'0x97'