# Look at extracted Ex. 21 data from full model run

In [ ]:
%load_ext autoreload
%autoreload 3

In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("gs://sec10k-outputs/ex21_company_ownership_info/2016q2.parquet")

In [3]:
df

,id,subsidiary,loc,own_per
0,1124524-0001144204-16-110227,"cryoport systems, inc",None,None
1,1126741-0001558370-16-006362,"gsi technology holdings, inc",cayman islands,None
2,1126741-0001558370-16-006362,"gsi technology (bvi), inc",british virgin islands,None
3,1126741-0001558370-16-006362,"gsi technology taiwan, inc",republic of china,None
4,1126741-0001558370-16-006362,gsi technology israel ltd,israeli,None
...,...,...,...,...
14,1639300-0001193125-16-536766,"bargain parent, inc",delaware,None
15,1639300-0001193125-16-536766,"ollie’s holdings, inc",delaware,None
16,1639300-0001193125-16-536766,ollie’s,pennsylvania,None
17,1639300-0001193125-16-536766,"obo ventures, inc",pennsylvania,None
18,1636050-0001636050-16-000042,"axovant sciences, inc",delaware,None